[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CARNIVAL"]
	path = CARNIVAL
	url = https://github.com/saezlab/carnival
	shallow = true
	registered = true
[submodule "cosmosR"]
	path = cosmosR
	url = https://github.com/saezlab/cosmosr
	shallow = true
	registered = true
[submodule "decoupleR"]
	path = decoupleR
	url = https://github.com/saezlab/decoupler
	shallow = true
	registered = true
[submodule "progeny"]
	path = progeny
	url = https://github.com/saezlab/progeny
	shallow = true
	registered = true
