[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CARNIVAL"]
	path = CARNIVAL
	url = https://github.com/saezlab/carnival
[submodule "OmnipathR"]
	path = OmnipathR
	url = https://github.com/saezlab/omnipathr
[submodule "cosmosR"]
	path = cosmosR
	url = https://github.com/saezlab/cosmosr
[submodule "decoupleR"]
	path = decoupleR
	url = https://github.com/saezlab/decoupler
[submodule "mistyR"]
	path = mistyR
	url = https://github.com/saezlab/mistyr
[submodule "progeny"]
	path = progeny
	url = https://github.com/saezlab/progeny
